.u-section-1 .u-sheet-1 {
  min-height: 1116px;
}

.u-section-1 .u-group-1 {
  min-height: 391px;
  margin-top: -761px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  text-align: start;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  text-align: start;
  font-size: 2.25rem;
  font-family: "Bebas Neue";
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0;
}

.u-section-1 .u-text-3 {
  text-align: start;
  font-size: 3rem;
  font-family: "Bebas Neue";
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  text-align: start;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  background-image: none;
  width: 40px;
  height: 40px;
  color: rgb(0, 0, 0) !important;
  margin: -30px auto 0 0;
}

.u-section-1 .u-slider-1 {
  width: 507px;
  min-height: 558px;
  margin: -552px -20px 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 355px;
  width: 355px;
  margin: 106px auto 0;
}

.u-section-1 .u-carousel-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 14px;
}

.u-section-1 .u-image-2 {
  width: 353px;
  height: 331px;
  margin: 149px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-1 .u-image-3 {
  width: -50px;
  height: -89px;
  margin: 14px auto;
}

.u-section-1 .u-carousel-control-1 {
  background-image: none;
  width: 38px;
  height: 38px;
  position: absolute;
  inset: auto auto 16.5937px 192.187px;
  left: 205px;
  top: auto;
  right: auto;
  bottom: 0;
}

.u-section-1 .u-carousel-control-2 {
  background-image: none;
  width: 38px;
  height: 38px;
  position: absolute;
  inset: auto 198.828px 16.5781px auto;
  left: auto;
  top: auto;
  right: 211px;
  bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 340px;
  min-height: 142px;
  margin: 781px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: start;
  margin: 0;
}

.u-section-1 .u-text-6 {
  background-image: none;
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  text-transform: none;
  line-height: 38.4px;
  letter-spacing: normal;
  margin: 0;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-group-3 {
  width: 50px;
  min-height: 218px;
  margin: -28px 0 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-3 {
  width: 50px;
  height: 50px;
  color: rgb(0, 0, 0) !important;
  margin: 34px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 0;
  height: 0;
  margin: 30px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  text-align: center;
  width: 295px;
  margin: -20px auto 0;
}

.u-section-1 .u-group-4 {
  min-height: 89px;
  margin-top: -1px;
  margin-bottom: 40px;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  align-self: center;
  margin: 24px 0 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  margin: -41px auto 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-group-5 {
  min-height: 324px;
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-1 .u-text-8 {
  background-image: none;
  text-align: start;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-text-9 {
  text-align: start;
  font-size: 2.25rem;
  font-family: "Bebas Neue";
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0;
}

.u-section-1 .u-text-10 {
  text-align: start;
  font-size: 3rem;
  font-family: "Bebas Neue";
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  text-align: start;
  margin: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  background-image: none;
  width: 40px;
  height: 40px;
  color: rgb(0, 0, 0) !important;
  margin: -30px auto 0 0;
}

.u-section-1 .u-image-5 {
  width: 53px;
  height: 92px;
  margin: 30px auto 60px -1px;
}

.u-section-1 .u-text-12 {
  text-align: start;
  font-size: 3.75rem;
  font-family: "Bebas Neue";
  font-weight: 400;
  letter-spacing: 2px;
  width: 324px;
  margin: 127px auto 0;
}

.u-section-1 .u-slider-2 {
  width: 878px;
  min-height: 424px;
  margin: -15px auto 0;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 32px 30px 65px;
}

.u-section-1 .u-image-6 {
  height: 294px;
  width: 318px;
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-13 {
  font-family: "Bebas Neue";
  font-size: 3rem;
  letter-spacing: 5px;
  margin: -262px 0 0 332px;
}

.u-section-1 .u-text-14 {
  font-size: 1.5rem;
  margin: 14px 96px 0 332px;
}

.u-section-1 .u-text-15 {
  font-size: 1.875rem;
  margin: 22px 96px 0 332px;
}

.u-section-1 .u-text-16 {
  margin-left: 332px;
  margin-right: 96px;
  font-size: 1.875rem;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 32px 30px 65px;
}

.u-section-1 .u-image-7 {
  height: 294px;
  width: 318px;
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-17 {
  font-family: "Bebas Neue";
  font-size: 3rem;
  letter-spacing: 5px;
  margin: -262px 0 0 332px;
}

.u-section-1 .u-text-18 {
  font-size: 1.5rem;
  margin: 14px 96px 0 332px;
}

.u-section-1 .u-text-19 {
  font-size: 1.875rem;
  margin: 22px 96px 0 332px;
}

.u-section-1 .u-text-20 {
  margin-left: 332px;
  margin-right: 96px;
  font-size: 1.875rem;
}

.u-section-1 .u-carousel-control-3 {
  width: 44px;
  height: 44px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-4 {
  width: 44px;
  height: 44px;
  background-image: none;
  left: auto;
  right: 0;
  position: absolute;
}

.u-section-1 .u-group-6 {
  width: 107px;
  min-height: 71px;
  height: auto;
  margin: 209px auto 0;
}

.u-section-1 .u-icon-5 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 -1px;
}

.u-section-1 .u-icon-6 {
  width: 50px;
  height: 50px;
  color: rgb(17, 17, 17) !important;
  margin: -50px 0 0 57px;
}

.u-section-1 .u-group-7 {
  min-height: 89px;
  margin-top: 83px;
  margin-bottom: 56px;
  height: auto;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none;
  align-self: center;
  margin: 24px 0 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none;
  margin: -41px auto 0 0;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-13 {
    margin-left: 132px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 228px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 228px;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 132px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 132px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 228px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 228px;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 132px;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 121px;
    margin-right: 395px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -317px;
    margin-right: auto;
    margin-left: 9px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-right: auto;
    margin-left: 9px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 282px;
    margin-right: auto;
    margin-left: 83px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -31px;
    margin-bottom: -36px;
    margin-left: 9px;
  }

  .u-section-1 .u-image-1 {
    height: 373px;
    width: 324px;
    margin-top: 101px;
  }

  .u-section-1 .u-image-2 {
    width: 343px;
    height: 392px;
    margin-top: 121px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 44px;
  }

  .u-section-1 .u-image-3 {
    height: 427px;
    width: 325px;
    margin-top: 56px;
    margin-bottom: 0;
    margin-left: 41px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 531px;
  }

  .u-section-1 .u-slider-2 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 45px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 45px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 45px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 45px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 45px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 398px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 46px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 398px;
  }

  .u-section-1 .u-slider-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1085px;
  }

  .u-section-1 .u-text-1 {
    width: 253px;
    margin-top: 112px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -400px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 101px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 800px;
    margin-right: 88px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -30px;
    margin-bottom: -122px;
    margin-left: 117px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 527px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 349px;
    width: 341px;
    margin-top: 97px;
    margin-right: -8px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 360px;
    margin-top: 117px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: 400px;
    margin-top: 76px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 103px;
    bottom: -7px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 102px;
    bottom: -8px;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    margin-top: 77px;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-right: 131px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 34px;
  }

  .u-section-1 .u-text-8 {
    width: 253px;
    margin-top: 112px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -155px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 473px;
    margin-right: 94px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -31px;
    margin-bottom: -40px;
    margin-left: 109px;
  }

  .u-section-1 .u-slider-2 {
    width: 340px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 631px;
}

.u-section-2 .u-text-1 {
  width: auto;
  margin: 22px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 540px;
  width: 1052px;
  margin: 8px auto 22px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-2 .u-gallery-1 {
    width: 940px;
    height: 483px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1571px;
  }

  .u-section-2 .u-gallery-1 {
    width: 720px;
    height: 1480px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1201px;
  }

  .u-section-2 .u-gallery-1 {
    width: 540px;
    height: 1110px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
    height: 699px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: auto;
  }
}