.u-section-1 .u-sheet-1 {
  min-height: 1423px;
}

.u-section-1 .u-group-1 {
  min-height: 391px;
  margin-top: -761px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  text-align: start;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  text-align: start;
  font-size: 2.25rem;
  font-family: "Bebas Neue";
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0;
}

.u-section-1 .u-text-3 {
  text-align: start;
  font-size: 3rem;
  font-family: "Bebas Neue";
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  text-align: start;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  background-image: none;
  width: 40px;
  height: 40px;
  color: rgb(0, 0, 0) !important;
  margin: -30px auto 0 0;
}

.u-section-1 .u-slider-1 {
  width: 507px;
  min-height: 558px;
  margin: -552px -20px 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 355px;
  width: 355px;
  margin: 106px auto 0;
}

.u-section-1 .u-carousel-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 14px;
}

.u-section-1 .u-image-2 {
  width: 353px;
  height: 331px;
  margin: 149px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  background-image: none;
  width: 38px;
  height: 38px;
  position: absolute;
  inset: auto auto 16.5937px 192.187px;
  left: 205px;
  top: auto;
  right: auto;
  bottom: 0;
}

.u-section-1 .u-carousel-control-2 {
  background-image: none;
  width: 38px;
  height: 38px;
  position: absolute;
  inset: auto 198.828px 16.5781px auto;
  left: auto;
  top: auto;
  right: 211px;
  bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 340px;
  min-height: 142px;
  margin: 781px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: start;
  margin: 0;
}

.u-section-1 .u-text-6 {
  background-image: none;
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  text-transform: none;
  line-height: 38.4px;
  letter-spacing: normal;
  margin: 0;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-group-3 {
  width: 50px;
  min-height: 218px;
  margin: -28px 0 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-3 {
  width: 50px;
  height: 50px;
  color: rgb(17, 17, 17) !important;
  margin: 34px auto 0 0;
}

.u-section-1 .u-icon-4 {
  width: 50px;
  height: 50px;
  color: rgb(0, 0, 0) !important;
  margin: 34px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  text-align: center;
  width: 295px;
  margin: -20px auto 0;
}

.u-section-1 .u-group-4 {
  min-height: 89px;
  margin-top: -1px;
  margin-bottom: 40px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  align-self: center;
  margin: 24px 0 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  margin: -41px auto 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-group-5 {
  min-height: 324px;
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-1 .u-text-8 {
  background-image: none;
  text-align: start;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-text-9 {
  text-align: start;
  font-size: 2.25rem;
  font-family: "Bebas Neue";
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0;
}

.u-section-1 .u-text-10 {
  text-align: start;
  font-size: 3rem;
  font-family: "Bebas Neue";
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  text-align: start;
  margin: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  background-image: none;
  width: 40px;
  height: 40px;
  color: rgb(0, 0, 0) !important;
  margin: -30px auto 0 0;
}

.u-section-1 .u-group-6 {
  min-height: 446px;
  margin-bottom: 0;
  margin-top: 210px;
}

.u-section-1 .u-text-12 {
  text-align: start;
  font-size: 3.75rem;
  font-family: "Bebas Neue";
  font-weight: 400;
  letter-spacing: 2px;
  margin: -90px 0 0;
}

.u-section-1 .u-text-13 {
  text-align: start;
  font-size: 3rem;
  font-family: "Bebas Neue";
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0;
}

.u-section-1 .u-text-14 {
  background-image: none;
  text-align: start;
  font-weight: 700;
  font-size: 1rem;
  margin: 7px 820px 0 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.125rem;
  text-align: start;
  margin: 10px -53px 0 53px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  background-image: none;
  width: 40px;
  height: 40px;
  color: rgb(0, 0, 0) !important;
  margin: -33px auto 0 0;
}

.u-section-1 .u-slider-2 {
  width: 507px;
  min-height: 558px;
  margin: -600px auto 0;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 333px;
  margin-top: 124px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-1 .u-image-4 {
  height: 355px;
  width: 355px;
  margin: 106px auto 0;
}

.u-section-1 .u-carousel-item-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 14px;
}

.u-section-1 .u-image-5 {
  width: 353px;
  height: 331px;
  margin: 149px auto 0;
}

.u-section-1 .u-carousel-control-3 {
  background-image: none;
  width: 38px;
  height: 38px;
  position: absolute;
  inset: auto auto 16.5937px 192.187px;
  left: 205px;
  top: auto;
  right: auto;
  bottom: 0;
}

.u-section-1 .u-carousel-control-4 {
  background-image: none;
  width: 38px;
  height: 38px;
  position: absolute;
  inset: auto 198.828px 16.5781px auto;
  left: auto;
  top: auto;
  right: 211px;
  bottom: 0;
}

.u-section-1 .u-group-7 {
  width: 340px;
  min-height: 220px;
  margin: -379px -16px 0 auto;
}

.u-section-1 .u-text-16 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: start;
  margin: 20px 0 0;
}

.u-section-1 .u-text-17 {
  background-image: none;
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  text-transform: none;
  line-height: 38.4px;
  letter-spacing: normal;
  margin: 20px 60px 0 0;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-group-8 {
  width: 340px;
  min-height: 220px;
  margin: 102px 0 0 auto;
}

.u-section-1 .u-text-18 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: start;
  margin: 24px 0 0;
}

.u-section-1 .u-text-19 {
  background-image: none;
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  text-transform: none;
  line-height: 38.4px;
  letter-spacing: normal;
  margin: 7px 22px 0 0;
}

.u-section-1 .u-list-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-group-9 {
  width: 50px;
  min-height: 218px;
  margin: 235px 0 0 auto;
}

.u-section-1 .u-icon-7 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-8 {
  width: 50px;
  height: 50px;
  color: rgb(17, 17, 17) !important;
  margin: 34px auto 0 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.u-section-1 .u-group-10 {
  min-height: 89px;
  margin-top: 34px;
  margin-bottom: 34px;
}

.u-section-1 .u-container-layout-15 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none;
  align-self: center;
  margin: 24px 0 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: none;
  margin: -41px auto 0 0;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: 695px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 84px;
    margin-right: -41px;
    margin-left: 41px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -30px;
  }

  .u-section-1 .u-image-3 {
    width: 423px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-7 {
    margin-top: -404px;
    margin-right: -104px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
  }

  .u-section-1 .u-group-8 {
    margin-top: 127px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
  }

  .u-section-1 .u-text-19 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 488px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 9px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 48px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 531px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 475px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 398px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 46px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 398px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 295px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1311px;
  }

  .u-section-1 .u-text-1 {
    width: 253px;
    margin-top: 112px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -155px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 665px;
    margin-right: 72px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-bottom: -232px;
    margin-left: 121px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 527px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 245px;
    width: 312px;
    margin-top: 201px;
    margin-right: -8px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 258px;
    margin-top: 219px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 103px;
    bottom: -7px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 102px;
    bottom: -8px;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 77px;
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-right: 207px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    width: 253px;
    margin-top: 112px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -155px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 473px;
    margin-right: 94px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -31px;
    margin-bottom: -40px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 95px;
  }

  .u-section-1 .u-slider-2 {
    width: 340px;
    min-height: 477px;
  }

  .u-section-1 .u-image-3 {
    height: 252px;
    width: 320px;
  }

  .u-section-1 .u-image-4 {
    height: 340px;
    width: 340px;
  }

  .u-section-1 .u-image-5 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1356px;
}

.u-section-2 .u-group-1 {
  min-height: 391px;
  margin-top: -761px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  background-image: none;
  text-align: start;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  text-align: start;
  font-size: 2.25rem;
  font-family: "Bebas Neue";
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0;
}

.u-section-2 .u-text-3 {
  text-align: start;
  font-size: 3rem;
  font-family: "Bebas Neue";
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  text-align: start;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  background-image: none;
  width: 40px;
  height: 40px;
  color: rgb(0, 0, 0) !important;
  margin: -30px auto 0 0;
}

.u-section-2 .u-slider-1 {
  width: 507px;
  min-height: 558px;
  margin: -552px -20px 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  height: 355px;
  width: 355px;
  margin: 106px auto 0;
}

.u-section-2 .u-carousel-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 14px;
}

.u-section-2 .u-image-2 {
  width: 353px;
  height: 331px;
  margin: 149px auto 0;
}

.u-section-2 .u-carousel-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 14px;
}

.u-section-2 .u-image-3 {
  width: 353px;
  height: 331px;
  margin: 149px auto 0;
}

.u-section-2 .u-carousel-control-1 {
  background-image: none;
  width: 38px;
  height: 38px;
  position: absolute;
  inset: auto auto 16.5937px 192.187px;
  left: 205px;
  top: auto;
  right: auto;
  bottom: 0;
}

.u-section-2 .u-carousel-control-2 {
  background-image: none;
  width: 38px;
  height: 38px;
  position: absolute;
  inset: auto 198.828px 16.5781px auto;
  left: auto;
  top: auto;
  right: 211px;
  bottom: 0;
}

.u-section-2 .u-group-2 {
  width: 340px;
  min-height: 142px;
  margin: 781px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: start;
  margin: 0;
}

.u-section-2 .u-text-6 {
  background-image: none;
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  text-transform: none;
  line-height: 38.4px;
  letter-spacing: normal;
  margin: 0;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-group-3 {
  width: 50px;
  min-height: 218px;
  margin: -28px 0 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-icon-3 {
  width: 50px;
  height: 50px;
  color: rgb(17, 17, 17) !important;
  margin: 34px auto 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  text-align: center;
  width: 295px;
  margin: -20px auto 0;
}

.u-section-2 .u-group-4 {
  min-height: 89px;
  margin-top: -1px;
  margin-bottom: 40px;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  align-self: center;
  margin: 24px 0 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none;
  margin: -41px auto 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-2 .u-group-5 {
  min-height: 324px;
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-2 .u-text-8 {
  background-image: none;
  text-align: start;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-2 .u-text-9 {
  text-align: start;
  font-size: 2.25rem;
  font-family: "Bebas Neue";
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0;
}

.u-section-2 .u-text-10 {
  text-align: start;
  font-size: 3rem;
  font-family: "Bebas Neue";
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  text-align: start;
  margin: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  background-image: none;
  width: 40px;
  height: 40px;
  color: rgb(0, 0, 0) !important;
  margin: -30px auto 0 0;
}

.u-section-2 .u-group-6 {
  min-height: 391px;
  margin-bottom: 0;
  margin-top: 210px;
}

.u-section-2 .u-text-12 {
  text-align: start;
  font-size: 3.75rem;
  font-family: "Bebas Neue";
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-2 .u-text-13 {
  text-align: start;
  font-size: 3rem;
  font-family: "Bebas Neue";
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0;
}

.u-section-2 .u-text-14 {
  background-image: none;
  text-align: start;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  font-size: 1.125rem;
  text-align: start;
  margin: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-5 {
  background-image: none;
  color: rgb(0, 0, 0) !important;
  width: 40px;
  height: 40px;
  margin: -30px auto 0 6px;
}

.u-section-2 .u-group-7 {
  width: 940px;
  min-height: 135px;
  margin: -38px -769px 0 auto;
}

.u-section-2 .u-text-16 {
  font-weight: 400;
  font-size: 1.875rem;
  font-family: "Bebas Neue";
  margin: 0;
}

.u-section-2 .u-text-17 {
  text-transform: none;
  line-height: 1.4;
  letter-spacing: 1px;
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-slider-2 {
  width: 507px;
  min-height: 558px;
  margin: -600px auto 0;
}

.u-section-2 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 333px;
  margin-top: 124px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px 0;
}

.u-section-2 .u-image-5 {
  height: 355px;
  width: 355px;
  margin: 106px auto 0;
}

.u-section-2 .u-carousel-item-6 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-container-layout-13 {
  padding: 0 14px;
}

.u-section-2 .u-image-6 {
  width: 353px;
  height: 331px;
  margin: 149px auto 0;
}

.u-section-2 .u-carousel-control-3 {
  background-image: none;
  width: 38px;
  height: 38px;
  position: absolute;
  inset: auto auto 16.5937px 192.187px;
  left: 205px;
  top: auto;
  right: auto;
  bottom: 0;
}

.u-section-2 .u-carousel-control-4 {
  background-image: none;
  width: 38px;
  height: 38px;
  position: absolute;
  inset: auto 198.828px 16.5781px auto;
  left: auto;
  top: auto;
  right: 211px;
  bottom: 0;
}

.u-section-2 .u-group-8 {
  width: 340px;
  min-height: 182px;
  margin: -379px -16px 0 auto;
}

.u-section-2 .u-text-18 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: start;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

.u-section-2 .u-text-19 {
  background-image: none;
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  text-transform: none;
  line-height: 38.4px;
  letter-spacing: normal;
  margin: 0;
}

.u-section-2 .u-list-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-6 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-7 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-group-9 {
  width: 50px;
  min-height: 218px;
  margin: 557px 0 0 auto;
}

.u-section-2 .u-icon-6 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-icon-7 {
  width: 50px;
  height: 50px;
  color: rgb(17, 17, 17) !important;
  margin: 34px auto 0 0;
}

.u-section-2 .u-icon-8 {
  width: 50px;
  height: 50px;
  color: rgb(0, 0, 0) !important;
  margin: 34px auto 0 0;
}

.u-section-2 .u-text-20 {
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.u-section-2 .u-group-10 {
  min-height: 89px;
  margin-top: 34px;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-16 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  border-style: none;
  align-self: center;
  margin: 24px 0 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  border-style: none;
  margin: -41px auto 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-2 .u-group-11 {
  width: 340px;
  min-height: 142px;
  margin: 781px auto 0 0;
}

.u-section-2 .u-text-21 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: start;
  margin: 0;
}

.u-section-2 .u-text-22 {
  background-image: none;
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  text-transform: none;
  line-height: 38.4px;
  letter-spacing: normal;
  margin: 0;
}

.u-section-2 .u-list-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-icon-8 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-right: 708px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: 64px;
    margin-right: -53px;
    margin-left: 53px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -31px;
    margin-left: 13px;
  }

  .u-section-2 .u-group-7 {
    margin-top: -92px;
  }

  .u-section-2 .u-group-8 {
    margin-top: -401px;
    margin-right: -98px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
  }

  .u-section-2 .u-text-19 {
    width: auto;
  }

  .u-section-2 .u-group-9 {
    margin-top: 217px;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-2 .u-group-10 {
    margin-top: 13px;
  }

  .u-section-2 .u-text-21 {
    width: auto;
  }

  .u-section-2 .u-text-22 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-top: 8px;
    margin-right: -9px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 148px;
    margin-right: 454px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -252px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -108px;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 273px;
    margin-right: auto;
    margin-left: 48px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -31px;
  }

  .u-section-2 .u-slider-1 {
    height: auto;
    margin-top: -503px;
    margin-right: -9px;
    margin-left: 222px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 186px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 186px;
  }

  .u-section-2 .u-group-2 {
    min-height: 180px;
    margin-top: 51px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 40px;
  }

  .u-section-2 .u-group-3 {
    margin-top: -154px;
  }

  .u-section-2 .u-group-4 {
    margin-bottom: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 531px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 488px;
  }

  .u-section-2 .u-group-11 {
    min-height: 180px;
    margin-top: -348px;
    margin-bottom: 60px;
    margin-left: 222px;
  }

  .u-section-2 .u-text-22 {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 398px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 46px;
  }

  .u-section-2 .u-slider-1 {
    margin-left: 33px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 398px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 308px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-11 {
    margin-left: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1388px;
  }

  .u-section-2 .u-group-1 {
    min-height: 637px;
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 99px;
    margin-right: 39px;
    margin-left: 48px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -268px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -91px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 622px;
    margin-right: 100px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-bottom: -81px;
    margin-left: 113px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 527px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 245px;
    width: 312px;
    margin-top: 201px;
    margin-right: -8px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 258px;
    margin-top: 219px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 258px;
    margin-top: 219px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 103px;
    bottom: -7px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 102px;
    bottom: -8px;
  }

  .u-section-2 .u-group-2 {
    min-height: 315px;
    margin-top: 0;
    margin-right: -15px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 77px;
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-right: 207px;
    margin-left: auto;
  }

  .u-section-2 .u-group-3 {
    margin-top: 63px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -60px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 39px;
  }

  .u-section-2 .u-text-8 {
    width: 253px;
    margin-top: 112px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -155px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 473px;
    margin-right: 94px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -31px;
    margin-bottom: -40px;
    margin-left: 109px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 108px;
  }

  .u-section-2 .u-group-7 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-slider-2 {
    width: 340px;
    min-height: 527px;
  }

  .u-section-2 .u-image-5 {
    height: 340px;
    width: 340px;
  }

  .u-section-2 .u-image-6 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-11 {
    min-height: 273px;
    margin-top: -437px;
    margin-right: -22px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-21 {
    margin-top: 77px;
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-2 .u-text-22 {
    font-size: 1.875rem;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-right: 101px;
    margin-left: -20px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 609px;
}

.u-section-3 .u-gallery-1 {
  height: 454px;
  margin: 81px auto 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-text-1 {
  width: auto;
  margin: -528px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 529px;
  }

  .u-section-3 .u-gallery-1 {
    height: 374px;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }

  .u-section-3 .u-text-1 {
    margin-top: -448px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1021px;
  }

  .u-section-3 .u-gallery-1 {
    height: 955px;
    width: 720px;
    margin-top: 46px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-text-1 {
    margin-top: -994px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 3098px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1612px;
    width: 540px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-text-1 {
    margin-top: -2480px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 3433px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3383px;
    width: 340px;
    margin-top: 38px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -3409px;
  }
}