.u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/IMG_20220128_164252.jpg");
}

.u-section-2-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  width: 239px;
  margin: 60px auto 0;
}

.u-section-2-1 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 909px;
  animation-duration: 1000ms;
  margin: 36px auto 0;
}

.u-section-2-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-2-1 {
    background-position: 50% 50%;
  }

  .u-section-2-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-1 .u-text-2 {
    font-size: 3.75rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-1 .u-text-2 {
    font-size: 2.25;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2-1 .u-text-2 {
    width: 340px;
    font-weight: bold;
    font-size: 3rem;
  }
}.u-section-1 .u-sheet-1 {
  min-height: 160px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 54px 813px 0 131px;
}

.u-section-1 .u-image-1 {
  width: 98px;
  height: 98px;
  margin: -75px auto 0 11px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1rem;
  margin: -75px 0 57px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 713px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 524px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 344px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 80px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 12px;
    margin-left: auto;
    margin-right: 144px;
  }

  .u-section-1 .u-image-1 {
    width: 56px;
    height: 56px;
    margin-top: -44px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: -48px;
    margin-bottom: 12px;
    padding: 5px 13px 6px 12px;
  }
}.u-block-ad5c-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-ad5c-3 {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 377px;
  left: calc(((100% - 1140px) / 2));
  right: auto;
}

.u-block-ad5c-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-ad5c-3 {
    left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-block-ad5c-3 {
    left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-block-ad5c-3 {
    left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-block-ad5c-3 {
    left: calc(((100% - 340px) / 2));
  }
}.u-section-3 {
  min-height: 615px;
  background-image: none;
}

.u-section-3 .u-gallery-1 {
  height: 454px;
  margin: 95px auto 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-text-1 {
  width: auto;
  margin: -528px auto 0;
}

.u-section-3 .u-text-2 {
  width: auto;
  text-align: start;
  margin: 114px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 535px;
  }

  .u-section-3 .u-gallery-1 {
    height: 374px;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -448px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 781px;
  }

  .u-section-3 .u-gallery-1 {
    height: 721px;
    width: 720px;
    margin-top: 46px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-text-1 {
    margin-top: -760px;
  }

  .u-section-3 .u-text-2 {
    transition-duration: 0.5s;
    margin-top: 341px;
    margin-bottom: -805px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 3098px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3529px;
    width: 540px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-text-1 {
    margin-top: -2480px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 594px;
  }

  .u-section-3 .u-gallery-1 {
    height: 522px;
    width: 340px;
    margin-top: 12px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-text-1 {
    margin-top: -570px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 269px;
    margin-bottom: 213px;
  }
}